.filterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;

}

.filterField {
  font-size: 16px;
  font-weight: 700;
}

.filterInput {
    width: 50%;
    border: 1px solid grey;
}

.filterInput:hover,
.filterInput:focus  {
    border: 2px solid tomato;
}
